body {
	background-color: #333;
	font-family: 'Didact Gothic', sans-serif;
}

.container {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #eee;
}

#me {
	color: #333;
	margin-top: -400px;
	margin-bottom: 400px;
}

#title {
	text-align: center;
	color: #eee;
	font-size: 300px;
	margin-top: -90px;
}

a {
	background-color: #eee;
	color: #333;
	text-decoration: none;
	border: 3px solid #eee;
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
	margin: 5px;
}

a:hover {
	color: #333;
	border: 5px solid #eee;
	margin: 3px;
}