body {
	background-color: #333;
	font-family: 'Didact Gothic', sans-serif;
}

.container {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #eee;
}

#me {
	color: #eee;
	margin-top: -100px;
	margin-bottom: 50px;
	font-size: 85px;
}

#title {
	text-align: center;
	color: #eee;
	font-size: 600px;
	margin-top: -150px;
	margin-bottom: 0;
}

a {
	background-color: #eee;
	color: #333;
	text-decoration: none;
	border: 3px solid #eee;
	padding: 15px;
	padding-left: 70px;
	padding-right: 70px;
	margin: 5px;
	font-size: 25px;
}

a:hover {
	color: #333;
	border: 5px solid #eee;
	margin: 3px;
}